{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Outdoor sitting mats
            </h1>
            <!--
            <ol class="breadcrumb">
                <li><a href="/index/">Home</a>
                </li>
                <li class="active">Product</li>
            </ol>
            -->
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row row-content">
        <div class="col-sm-6 col-xs-12">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
                <li data-target="#mycarousel" data-slide-to="3"></li>
               
                
            </ol>
           <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img  src="{% static 'media/product_1.jpg' %}" alt="">
                    <div class="carousel-caption">
                  <p>Mat Product to try</p>

                    </div>
                </div>
                <div class="item">
                    <a href="#">
                      <img src="{% static 'media/bike.jpg' %}" alt="">
                    </a>
                    <div class="carousel-caption">
                       <p>A mat can be easily carried on the back.</p>
                    </div>
                </div>
                <div class="item">
                  <a href="#">
                      <img  src="{% static 'media/fireplace_1.jpg' %}" alt="">
                    </a>
                    <div class="carousel-caption">
                        <p>It is always there when you need it!</p>
                    </div>
                </div>
                <div class="item">
                  <a href="#">
                      <img  src="{% static 'media/bird_watching_1.jpg' %}" alt="">
                    </a>
                    <div class="carousel-caption">
                        <p>You outdoor hobby has never been so comfortable!</p>
                    </div>
                </div>

                

                <div class="item">
                  <a href="#">
                        <img src="{% static 'media/sample_3.jpg' %}" alt="">
                    </a>
                    <div class="carousel-caption">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>


        </div>
      </div>
        <div class="col-sm-6">            
            <p>The mats are produced from closed-cell PE-foam and have the following features:</p>
            <ul>
                <li>Soft and comfortable</li>
                <li>Great heat insulation</li>
                <li>The material does not absorb water</li>
                <li>Elastic band with a buckle for carrying on your waist</li>
                <li>Lightweight</li>
                <li>Can be easily attached to your backpack</li>
                <li>Many possible use applications</li>
            </ul>              
            <p>The cushion can be attached to the waist with a strap and this way it always stays clean and dry. One does not need to carry it around the camping site and it is always there to sit on it: just pull it down from the waist. The mat can be produced with a logo or a slogan. The mat is also a convenient gear for spectaculars of various mass outdoor events, e.g. pop concerts and sport competitions.</p>
            <p>It can work as orginal a marketing tool, business gift, merchandising material or a group attribute of a club or company. This product will be taking care of your customers for years.</p>
            <form id="buyForm" class="form-horizontal" role="form" novalidate method="post" action="/product/buy/">
                {% csrf_token %}
               <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 buy-button">
                       <button type="submit" class="btn btn-lg btn-default btn-block">Buy it now</button>
                   </div>
               </div>
           </form>

        </div>
        <hr>
        <div class="col-lg-12">
            <h2 class="page-header">More examples</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" id="foot">
            <img class="img-responsive customer-img popUpImage" src="{% static 'media/fishing.jpg' %}" alt=""  id="image">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" id="foot">
            <img class="img-responsive customer-img popUpImage" src="{% static 'media/fire_summer_1.jpg' %}" alt="" id="image1">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" id="foot">
            <img class="img-responsive customer-img popUpImage" src="{% static 'media/fire_summer_2.jpg' %}" alt="" id="image2">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" id="foot">
            <img class="img-responsive customer-img popUpImage" src="{% static 'media/fire_summer_3.jpg' %}" alt="" id="image3">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" id="foot">
            <img class="img-responsive customer-img popUpImage" src="{% static 'media/sample_3.jpg' %}" alt="" id="image4">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6" id="foot">
            <img class="img-responsive customer-img popUpImage" src="{% static 'media/camouflage1.jpg' %}" alt="" id="image5">
        </div>
        <hr>
    </div>
    <!-- /.row -->

    <!-- Team Members -->

    <!-- /.row -->

    <!-- Small examples -->
   
        
    
</div>

{% endblock %}
